<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Tooplate">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/tooplate-style.css">

</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<% if (!isAuthenticated) { %>
  <nav class="navbar">
    <span id="navbar-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <a href="/" id="logo">Daily Journal</a>
    <ul id="main-nav">



      <li >
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="#about" class="nav-links">About Us</a>
      </li>
      <li>
        <a href="#news" class="nav-links">Service</a>
      </li>
      <li>
        <a href="/contact" class="nav-links">Contact Us</a>
      </li>
      <li>
        <a href="/login" class="nav-links">LogIn</a>
      </li>

      <% } else { %>
        <nav class="navbar">
          <span id="navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
          <a href="/index" id="logo">Daily Journal</a>
          <ul id="main-nav">


            <li>
              <a href="/viewpost" class="nav-links">View post</a>
            </li>

            <li>
              <a href="/compose" class="nav-links">Compose</a>
            </li>
            <li>
              <a href="/cblog" class="nav-links">Compose blog</a>
            </li>
            <li>
              <a href="/vblog" class="nav-links">View blog</a>
            </li>

            <li>
              <a href="/logout" class="nav-links">LogOut</a>
            </li>
            <% } %>

          </ul>
        </nav>
      </head>
      <body>
