<!DOCTYPE HTML>
<!--
Road Trip by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Daily Journal </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="index.html">Daily Journal <span> & Blogging</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/viewpost">View post</a></li>
			<li><a href="/vblog">view blog</a></li>
			<li><a href="/cblog">write blog</a></li>
			<li><a href="/compose">write Journal</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<!--
	Note: To show a background image, set the "data-bg" attribute below
	to the full filename of your image. This is used in each section to set
	the background image.
-->
<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>This is Daily Journal</h1>
		</header>
	</div>
	<a href="#one" class="more">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Write Journal</h2>
			</header>
			<div class="content">
				<p>Here you can write about your daily routine or how you spend your day whome you meet and what situation occur, you can write anything related to you.</p>
				<p>A diary is a way of keeping track of your memories, but it has other benefits as well -- diaries are good for your creativity and mental health, they can also help you become a better writer! To make diary writing a part of your daily life, focus on getting in the habit of writing and being creative!</p>
				<p>"To write a diary every day is like returning to one's own vomit."</p>
			</div>
			<footer>
				<a href="/compose" class="button alt">Write Diary</a>
			</footer>
		</article>
	</div>
	<a href="#two" class="more">Learn More</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>View Journal</h2>
			</header>
			<div class="content">
				<p>Here you can view your diary or journal you have written </p>
				<p>"Memory is the diary that we all carry about with us."</p>
			</div>
			<footer>
				<a href="/viewpost" class="button alt">View Diary</a>
			</footer>
		</article>
	</div>
	<a href="#three" class="more">Learn More</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Write Blog</h2>
			</header>
			<div class="content">
				<p>Here You Can Write your blog</p>
				<p>There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. Blogging for business, projects, or anything else that might bring you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a. increase your visibility.</p>
				<p>“Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers.”</p>
			</div>
			<footer>
				<a href="/cblog" class="button alt">Write Blog</a>
			</footer>
		</article>
	</div>
	<a href="#four" class="more">Learn More</a>
</section>

<!-- Four -->
<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>View Blog</h2>
			</header>
			<div class="content">
				<p>Here you can view your blog</p>
				<p>“A blog is only as interesting as the interest shown in others.”</p>
			</div>
			<footer>
				<a href="/vblog" class="button alt">View Blog</a>
			</footer>
		</article>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">

		<h2>Have some query ? Contact Me</h2>


		<form action="/index" method="post">

			<div class="field half first">
				<label for="name">Name</label>
				<input name="name" id="name" type="text" placeholder="Name">
			</div>
			<div class="field half">
				<label for="email">Email</label>
				<input name="email" id="email" type="email" placeholder=" Your email" >
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="6" placeholder="Message about query"></textarea>
			</div>
			<ul class="actions">
				<li>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<input value="Send Message" class="button alt" type="submit"></li>
			</ul>
		</form>

		<ul class="icons">
			<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
		</ul>



	</div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
